extends layout

block content
  h1= title
  p Welcome to #{title}


  button(class="btn" method="post") <a href="/startStrobe">STROBE ON</a>
  button(class="btn" method="post") <a href="/endStrobe">STROBE OFF</a>
  button(class="btn" method="post") <a href="/turnServo">TURN SERVO</a>